---
layout: default
---

<section>
    <article class="p-2">
        <h1 class="text-3xl">{{ title }}</h1>
        <h2 class="text-xl">{{ subtitle }}</h2>
    </article>
    <img src={{ image | url }}/>
    <article class="p-2">
        {{ content | safe }}
    </article>
</section>