---
eleventyImport:
  collections: ["course", "about"]
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <!-- Recommended -->
    <meta charset="utf-8"/>
    <meta
    name="viewport" content="width=device-width, initial-scale=1.0"/> <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}"/>
    <meta name="generator" content="{{ eleventy.generator }}"/> <!-- Icons -->
    <!-- https://favicon.io/ --> <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}"/>
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}"/>
    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="{{ '/site.css' | url }}"/>
    <script src="{{ '/menu.js' | url }}"></script>
  </head>
  <body class="font-sans leading-normal tracking-normal text-gray-900">
    <style>
      .font-sig {
          font-family: TheSignature;
      }
    </style>
    <header class="flex justify-center text-white border-b border-white">
      <div class="w-full bg-blue flex justify-between align-center items-center px-6 py-8">
        <a href="/" class="flex flex-col justify-center">
          <h1 class="font-sig font-bold underline text-2xl">Mae Be</h1>
        </a>
        <button id="menu-btn" class="w-10 h-10 block md:hidden">
          <img src="{{ '/menu.png' | url }}" />
        </button>
      </div>
    </header>

    <div class="flex">
      {# Menu #}
      <aside
        id="menu-overlay"
        class="bg-white text-black md:pt-4 md:bg-blue md:text-white font-mono left-0 top-0 z-50 absolute w-full h-full hidden md:block md:w-[320px] md:relative md:h-auto"
      >
        <div class="px-6 py-8 flex justify-between items-center md:hidden block">
          <h1 class="font-sig font-bold underline text-2xl">Mae Be</h1>
          <button id="close-btn" class="w-12 h-12">
            <img src="{{ '/close.png' | url }}" />
          </button>
        </div>
        <div class="p-4">
          <h1 class="text-xl border-b mb-2">Mes cours</h1>
            <ul class="flex flex-col pl-6">
              {%- for course in collections.course -%}
              <li class="pt-4">
                <a href="{{ course.url }}" class="h-full align-middle">
                  {{ course.data.title }}
                </a>
              </li>
              {%- endfor -%}
            </ul>
        </div>
        <div class="p-4">
          <h1 class="text-xl border-b mb-2">A propos de moi</h1>
            <ul class="flex flex-col pl-6">
              {%- for course in collections.about-%}
                <li class="pt-4">
                  <a href="{{ course.url }}" class="h-full align-middle">
                    {{ course.data.title }}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
        </div>
        <div class="bg-blue text-white bottom-0 absolute w-full text-center py-12">
          <h1>Contactez-moi !</h1>
          <ul>
            <li><a href="tel:+33745357043">07.45.35.70.43</a></li>
          </ul>
        </div>
      </aside>

      {# Main #}
      <main class="flex justify-center w-full bg-blue md:pt-4">
        <div class="lg:w-[720px] md:w-[600px] w-full pt-8 overflow-hidden bg-lightgray">
          {{ content | safe }}
        </div>
      </main>
    </div>

    <footer class="text-white border-t text-xs flex justify-center">
      <div class="w-full bg-blue p-4 border-t flex flex-col pb-4">
        <div class="w-full text-center pb-4">
          <span><b>Mae Be</b> | © Maëlisse Bescot - 2026</span>
        </div>
        <div class="flex w-full" id="footer-sections">
          <div class="w-full">
            <b class="font-sig mb-2 block text-lg">Mae Be</b>
            <div class="flex gap-2 justify-between w-full">
              <div>
                <b>Mes cours</b>
                <ul class="pl-2">
                  {%- for course in collections.course -%}
                    <li>
                      <a href="{{ course.url }}">
                        {{ course.data.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <div>
                <b>Moi</b>
                <ul class="pl-2">
                  {%- for about in collections.about -%}
                    <li>
                      <a href="{{ about.url }}">
                        {{ about.data.title }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
              <div>
                <b>Contact</b>
                <ul class="pl-2">
                  <li><a href="tel:+33745357053">07.45.35.70.53</a></li>
                  <li>Mae_be@proton.me</li>
                </ul>
              </div>
              <div class="max-w-64">
                <b>Crédits</b>
                <ul class="pl-2">
                  <li>
                    <a href="https://www.flaticon.com/free-icons/communication" title="communication icons">Communication icons created by Vectors Market - Flaticon</a>
                  </li>
                  <li>
                    <a href="https://www.flaticon.com/free-icons/close" title="close icons">Close icons created by SeyfDesigner - Flaticon</a>
                  </li>
                  <li>
                    <a href="https://www.flaticon.com/free-icons/options" title="options icons">Options icons created by BomSymbols - Flaticon</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>